{{ define "main" }}

<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width-device-width"/>
</head>

<p style="color: #cb4b16; font-size: 22px"><b> bryan "taco" gworek </b></p>

<div class="img-sizer" style="width: 40%">
{{.Content}}
</div>

              <p><strong>Email:</strong> <a href="mailto:bgworek2@illinois">bgworek2@illinois.edu</a></p>
                <p> --- <a href="https://www.linkedin.com/in/bryangworek/">LinkedIn</a>
                    --- <a href="https://github.com/lunatictaco">Github</a>
                    --- <a href="https://orcid.org/0000-0001-7182-1808">ORDID</a> ---
                </p>

				<h1>biography</h1>
				<p>
  I'm an experimental and computational biophysicist. My interests are broadly found in the field of cell signaling and protein/membrane dynamics. Biophysics is an exciting, growing field were I am able to integrate my knowledge on molecular biology, biochemistry, physics, and computer science. You can find my various efforts across this website. I also like to yap and do <a href="../../content/misc/index.md">weird stuff</a>.
 <ul>
        <em><span style="color: #dc3">Research Interests:</span></em>
				<li>
        Trafficking proteins
        </li>
        <li>
        Molecular dynamics
        </li>
			  <li>
        Intrinsically disordered proteins
        </li>
        <li>
        Protein structure, function and peripheral interactions
        </li>
        <li>
        Protein-lipid and protein-protein interactions
        </li>
 
 
	
</p>

<div class="bio">

				<h1>current position</h1>
				<ul>
					<li> <strong>Second Year Ph.D. Student</strong> at the Center for Biophysics and Quantitative Biology, University of Illinois, Urbana Champaign (since August, 2023).
    I am co-advised between Kai Zhang and Taras Pogorelov.
    <a href="https://publish.illinois.edu/kaizhanglab/">Kai</a> specializes in optogentics and cell signaling. <a href="https://pogorelov.scs.illinois.edu/">Taras</a> specializes in molecular dynamics of plasma membranes and protein dynamics.
          </li>
			  </ul>

        <h1>presentations</h1>
  <ul>
    <li> <strong>“Elucidating the mechanisms underlying phospholipid-mediated capsid formation and binding between Arc and PI(3)P”</strong>, 69th Biophysical Society Meeting (2025) Los Angeles, CA </li>
    <li> <strong>“Diffusion of DNA in active and passive baths”</strong>, American Physical Society March Meeting (2023) Las Vegas, NV </li>
    <li>
      <strong>“Designing a nanoscale rocket ship using DNA origami and enzymes”</strong>, Frontiers in Soft Matter and Macromolecular Networks (2022) University of San Diego, San Diego, CA </li>
    <li>
      <strong>“Designing a nanoscale rocket ship using DNA origami and enzymes”</strong>, Scifest (2022) Brandeis University, Waltham, MA </li>
</ul>
				<h1>education</h1>
				<ul>
				<li><strong>Ph.D. in Biophysics and Quantitative Biology</strong> at the <em>University of Illinois, Urbana-Champaign</em> </a>(in progress).</li>

    <li><strong>Bachelor's of Science in Physics with a minor in Mathematics and Cinema and Television Arts</strong> at the <em>California State University, Fullerton</em> </a>(Completed May 2023).</li> <br/>
    <span style="color: #dc3">----></span> check out some cool academic <a href="https://orcid.org/0000-0001-7182-1808"> work </a>

        <h1>skills & techniques</h1>
    <ul>
      <span style="color: #cb4b16">coding languages</span> &#x2baf;
      <li>
        python, bash, C++, charmm++, git, LaTeX, markdown, html, css (although I'm clearly not a dev)
      </li>
      <span style="color: #cb4b16">programs I use</span> &#x2baf;
      <li>
        NAMD, GROMACS, VMD, PyMol, Alphafold, Blender, windows/mac/linux systems (ubuntu/arch), jupyter lab/notebook, KiCad, QMK, Fiji (ImageJ), CellProfiler, PyDDM, github, AVRdude, MS products
      </li>
      <span style="color: #cb4b16">lab knowledge</span> &#x2baf;
      <li>
        cell culture (epitheial/neuron), virus culture (lentivirus/AAV), molecular cloning, western blot, diffusion assays, RNA prep, RNA-seq, PCR/RTqPCR, EV Purification
      </li>
      <span style="color: #cb4b16">microscopy</span> &#x2baf;
      <li>
        confocal, MINFLUX (super-res.), epi-fluorescence, TEM, live-cell, PICO, TIRF, spacial light modulation (Mightex)
      </li>

    </ul>

          <h1>previous positions</h1>
				<ul>
    <li> <strong>Undergraduate researcher</strong> at <em>California State University, Fullerton</em>, advised under <a href="https://slam-lab.com/">Dr. Wylie Ahmed</a> (January 2022 - May 2023).</li>

    <li> <strong>Visiting Student Researcher</strong> at <em>Brandeis University</em> (June 2022 - August 2022). <ul><dl>Funded by the <span style="color: #cb4b16">National Science Foundation</span>, I particpated in the Research Experiences for Undergraduates (REU) program advised under <a href="http://www.rogers-lab.com/">Dr. W. Benjamin Rogers</a>.</dl></ul></li>

		<li> <strong>Undergraduate researcher</strong> at <em>California State University, Fullerton</em>, advised under <a href="https://www.per-central.org/">Dr. Gina Passante</a> (December 2020 - August 2021).</li>
				</ul>


</div>
{{ end }}
