{{ define "main" }}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>

<ul class="tree">
  <dl>
    <details open>
      <summary>/</summary>
      <ul> 
    <dl>
    <details open>
      <summary>usr/</summary>
      <ul>
        <dl>
          <details open>
            <summary>local/</summary>
            <ul>
              <dl><a href="bio/">bio.html</a></dl>
              <dl><a href="posts/">blogging.md</a></dl>
            </ul>
          </details>
        </dl>
        <dl>
          <details open>
            <summary>share/</summary>
            <ul>
              <dl><a href="publications/">publications.xml</a></dl>
              <dl><a href="scripts/">scripts.xml</a></dl>
              <dl><a href="photos/">photos.zip</a></dl>
              <dl><a href="misc/">misc.h5</a></dl>
            </ul>
          </details>
        </dl>
      </ul>
    </details>
  </dl>
</ul>
</details>
</dl>
</ul>
{{ end }}
